h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-transform: uppercase;
    font-size: 45px;
    /* Colores */
    /* Colores del sistema */
    color: mediumpurple;
    /* Colores hexadecimales */
    color: #4c5f359a;
    /* Colores RGB */
    color: rgb(255, 225, 107);
    /* Colores RGBA */
    color: rgba(255, 19 38, 1);
}

h3 {
    font-family: "Comic Sans MS";
    font-size: 25px;
    font-weight: lighter;
    color: olive;
}

p {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
}